<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150015187293-fsi28kvnr2045k4b36kgvpmn8gidb8tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150015187293-fsi28kvnr2045k4b36kgvpmn8gidb8tn</string>
	<key>API_KEY</key>
	<string>AIzaSyBwgRxIxBiQcFMRil5vzWcugBIg6Q2kqQE</string>
	<key>GCM_SENDER_ID</key>
	<string>150015187293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.psycodex.psyfit</string>
	<key>PROJECT_ID</key>
	<string>psyc-fit</string>
	<key>STORAGE_BUCKET</key>
	<string>psyc-fit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150015187293:ios:602585e46d629aec5bb0b4</string>
</dict>
</plist>